<template>
  <article class="media">
    <figure class="media-left">
      <p class="image is-64x64">
        <img src="../assets/jv_black.png">
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <h1 class="content is-medium">Johnny's timeline for thesis writing and other tasks</h1>
        <p><strong>Summer 2020 - We can do this!!!</strong></h2>
        <p>Dissertation repository is located at: https://gitlab.com/johnnyvenom-phd/dissertation</p>
        <br/>
        <p>p/b <a href="https://gitlab.com/issuantt/issuantt">Issuant ({{ version }})</a></p>
      </div>
    </div>
  </article>
</template>

<script>
import { version } from '../../package.json'

export default {
  name: 'issuantt-header',
  data () {
    return {
      version: version
    }
  }
}
</script>
